a {
    color: #228b22;
    font-weight: bold;
}

a:hover {
    color: #8fbc8f;
    text-decoration: none;
}

body {
    background-color: #8fbc8f;
    font-family: rokkitt;
    font-size: 18px;
    height: 100vh;
    background-image: linear-gradient(139deg, #7ba682 25%, #97b89f 25%, #97b89f 50%, #7ba682 50%, #7ba682 75%, #97b89f 75%, #97b89f 100%);
background-size: 60.97px 53.00px;
}

h1, h2, h3, h4, h5 {
    font-family: cairo;
    line-height: 1.6;
    margin: 0;
}

h1, h3 {
    color: #8b0000;
}

h2 {
    color: #8fbc8f;
}


h5 {
    color: #f0ffff;
}

/* Header */

.top {
    background-color: black;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 10px;
}


/* Contact Form Modal */

.modal-content {
    background-color: #c7dbcc;
}


/* Navbar */


.dropdown-menu {
    background-color: rgba(240, 255, 255, 0.5);
}

.dropdown-item:hover {
    background-color: transparent;
    color: #8fbc8f;
}

nav, .dropdown-item {
    color: #228b22;
    font-family: cairo;
    font-size: 22px;
    font-weight: bold;
}

.navbar-brand a {
    background-color: #f0ffff;
    border: 1px solid #228b22;
    border-radius: 30px;
    color: #8b0000;
    font-size: 35px;
}

.navbar-nav ul {
    background-color: #f0ffff;
}








/* Index Page */


.card-hover .reveal {
    visibility: hidden;
    opacity: 0;
    height: 0;
    padding: 0;
}

.card-hover:hover .reveal {
    height: auto;
    visibility: visible;
    opacity: 100;
    transition: opacity 1s ease;
    background-color: rgba(0, 0, 0, 0.5);
}



footer {
     background-color: #8fbc8f;
     margin: 90px 0px 15px 0px;
     padding: 15px 0px;
}

/* Pins Page */


.nav-item, .pins {
    background-color: #f0ffff;
}

#myTab .active {
    background-color: #8fbc8f;
    color: #f0ffff;
}


/* Exhibits Page */

#gallery {
    margin: auto;
    margin-top: 60px;
}

/* Resources Page */


.resources {
    background-color: #f0ffff;
    border: 2px solid #228b22;
    border-bottom-right-radius: 130px;
    border-top-left-radius: 130px;
    margin: auto;
    margin-bottom: 30px;
    padding: 50px 0px 20px 60px;
}

