/* Body of Site */

a {
    color: #228b22;
    font-weight: bold;
}

a:hover {
    color: #8fbc8f;
    text-decoration: none;
}

body {
    background-color: #8fbc8f;
    font-family: rokkitt;
    font-size: 18px;
    background-image: linear-gradient(139deg, #7ba682 25%, #97b89f 25%, #97b89f 50%, #7ba682 50%, #7ba682 75%, #97b89f 75%, #97b89f 100%);
background-size: 60.97px 53.00px;
}

h1, h2, h3, h4, h5 {
    font-family: cairo, 'sans-serif';
    line-height: 1.6;
    margin: 0;
}

h1 {
    color: #8b0000;
}

h2 {
    color: #8fbc8f;
}

h3 {
    color: #a81212;
    font-weight: 600;
}


h5 {
    color: #f0ffff;
}


/* Header */

.top {
    background-color: black;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 10px;
}


/* Contact Form Modal */

.modal-content {
    background-color: #faffff;;
}

/* Footer */

footer {
     background-color: rgba(143, 188, 143, 0.7);
     margin: 90px 0px 15px 0px;
     padding: 15px 0px;
}

/* Navbar */

.dropdown-menu {
    background-color: rgba(240, 255, 255, 0.8);
}

.dropdown-item:hover {
    background-color: transparent;
    color: #8fbc8f;
}

nav, .dropdown-item {
    color: #228b22;
    font-family: cairo;
    font-size: 22px;
    font-weight: bold;
}

.navbar-brand a {
    background-color: rgba(240, 255, 255, 0.9);
    border: 1px solid #228b22;
    border-radius: 30px;
    color: #8b0000;
    font-size: 35px;
}

.nav-item {
    background-color: rgba(240, 255, 255, 0.7);
}

/* Index Page */

.card-deck {
    background-color: rgba(143, 188, 143, 0.5);
    padding: 20px 0px;
}

.card-hover .reveal {
    visibility: hidden;
    opacity: 0;
    height: 0;
    padding: 0;
}

.card-hover:hover .reveal {
    height: auto;
    visibility: visible;
    opacity: 100;
    transition: opacity 1s ease;
    background-color: rgba(0, 0, 0, 0.5);
}


/* Pins Page */


.pins {
    background-color: #f0ffff;
}

#myTab .active {
    background-color: #8fbc8f;
    color: #f0ffff;
}

#myTab .nav-item {
    background-color: #f0ffff;
}


/* Gallery Page */

#gallery {
    margin: auto;
    margin-top: 60px;
}


/* News Page */

.card-header {
    background-color: #faffff;
}

#ads {
    background-color: #fdfde7;
    border: 5px solid #8fbc8f;
}


/* Resources Page */

.resources {
    background-color: #f0ffff;
    border: 2px solid #228b22;
    border-bottom-right-radius: 130px;
    border-top-left-radius: 130px;
    margin: auto;
    margin-bottom: 30px;
    padding: 50px 0px 20px 60px;
}

